<h1>Flights</h1>

<%= render "flight_search_form" %>

<% if @matching_flights.try(:any?) %>
    <%= render "search_results" %>
<% else %>

    <%= will_paginate @flights %>
    
    <!-- render table with flight details -->
    <%= render "shared/flight_details", flight_objs: @flights %>

<% end %>